label, input[type=submit], textarea{
	display: block;
}
#wrap{
	width: 960px;
	margin: auto;
	background: #e3e3e3;
	padding: 10px 20px;
}
textarea{
	width: 300px;
	height: 80px;
}
input[type=submit]{
	background: #333333;
	color: #ffffff;
	cursor: pointer;
	padding: 5px 20px;
}
input[type=submit]:hover{
	background: #ff6600;
}